<b>
    
<p>
<center>
<font size="5">
Data Pre-Processing
</font>
</center>
</p>
    
</b>

<p><h2>Table of Contents<span class="tocSkip"></span></h2></p>

    <li><span><a href="#Notes" data-toc-modified-id="Notes-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Notes</a></span></li>
        <li><span><a href="#Import" data-toc-modified-id="Import-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Import</a></span></li>
    <li><span><a href="#Data-Pre-Processing" data-toc-modified-id="Data-Pre-Processing-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Data Pre-Processing</a></span>
        <ul class="toc-item">
            <li><span><a href="#Load-Data" data-toc-modified-id="Load-Data-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Load Data</a></span></li>
            </ul></li>

### Notes

Install the following before running the Notebooks:
- pip install scikit-surprise
- pip install import-ipynb

### Import

In [1]:
# Import statements
import import_ipynb
from Functions import *

importing Jupyter notebook from Functions.ipynb

### Data Pre-Processing

#### Load Data

In [2]:
# Load movie and rating data
movies = pd.read_csv('movies.csv', header = 0)
ratings = pd.read_csv('ratings.csv', header = 0)

The **'movies.csv'** dataset consists of the following:
- 3 columns: movieId, title, genre
- 9742 movies and their respective genres (pip-separated)

In [3]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
movies.movieId

0            1
1            2
2            3
3            4
4            5
         ...
9737    193581
9738    193583
9739    193585
9740    193587
9741    193609
Name: movieId, Length: 9742, dtype: int64

In [5]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [6]:
movies.describe()

             movieId
count    9742.000000
mean    42200.353623
std     52160.494854
min         1.000000
25%      3248.250000
50%      7300.000000
75%     76232.000000
max    193609.000000

The **'ratings.csv'** dataset consists of the following:
- 4 columns: userId, movieId, rating, timestamp
- 610 unique users 
- 100836 ratings provided by 610 users
- 'timestamp' column is not required for making recommendations in this project, since we will use explicit ratings

In [7]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [8]:
print(ratings.info())
print('Number of unique users:',len(ratings['userId'].unique()))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB
None
Number of unique users: 610

In [9]:
ratings.describe()

              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

In [10]:
# 'timestamp' can be removed
ratings.drop(columns='timestamp', axis=0, inplace=True)

In [11]:
# Merge the two tables on movieId, to create a main dataframe which will be used for generating recommendations
data = pd.merge(movies, ratings, on='movieId')

In [12]:
# Final dataframe used in building the recommender systems
data.head()

,movieId,title,genres,userId,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5