<b>
    
<p>
<center>
<font size="5">
Collaborative Filtering 
</font>
</center>
    <center>
<font size="4">
Memory-Based Collaborative Filtering Using Cosine Similarity Metric
</font>
</center>
</p>
   
</b>

### Overview

#### Aim: Memory-Based Collaborative Filtering 
1. Create User/Item Similarity Matrix using Similarity Metrics - Cosine Similarity
2. Recommend Top 20 Movies Similar using Item-Item Filtering
3. Recommend Top 20 Movies Similar using User-User Filtering

### Import

In [1]:
# Import Statements
import import_ipynb
from Functions import *

importing Jupyter notebook from Functions.ipynb

### Create Common Functions

In [2]:
# copy the main dataframe to be used
data_copy = data.copy(deep=True)
data_copy = data_copy.drop(columns=['genres', 'title'])
data_copy.head()

   movieId  userId  rating
0        1       1     4.0
1        1       5     4.0
2        1       7     4.5
3        1      15     2.5
4        1      17     4.5

### Item-Item Collaborative Filtering

In [3]:
# creating the movie rating matrix
item_user_pivot = create_pivot_table(data, 'movieId', 'rating', 'userId')
item_user_pivot

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
0,4.0,0.0,0.0,0.0,4.0,0.0,4.5,0.0,0.0,0.0,...,4.0,0.0,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
1,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,...,0.0,4.0,0.0,5.0,3.5,0.0,0.0,2.0,0.0,0.0
2,4.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9719,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9720,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9721,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9722,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9723,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### Using Cosine Similarity

In [4]:
# create the movie similarity matrix
movie_similarity_matrix = calculate_similarity(item_user_pivot, 'cosine')
movie_similarity_matrix

,0,1,2,3,4,5,6,7,8,9,...,9714,9715,9716,9717,9718,9719,9720,9721,9722,9723
0,0.000000,0.410562,0.296917,0.035573,0.308762,0.376316,0.277491,0.131629,0.232586,0.395573,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.410562,0.000000,0.282438,0.106415,0.287795,0.297009,0.228576,0.172498,0.044835,0.417693,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.296917,0.282438,0.000000,0.092406,0.417802,0.284257,0.402831,0.313434,0.304840,0.242954,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.035573,0.106415,0.092406,0.000000,0.188376,0.089685,0.275035,0.158022,0.000000,0.095598,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.308762,0.287795,0.417802,0.188376,0.000000,0.298969,0.474002,0.283523,0.335058,0.218061,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9719,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0
9720,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0
9721,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0
9722,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0
9723,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.072542,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
# generate movie recommendations based on movieId 5
recc1 = item_item_based_reccommendations(5, movie_similarity_matrix)
recc1

Top 20 Movies Similar to Father of the Bride Part II (1995) are:

,movieId,title,genres,userId,rating
0,4896,Harry Potter and the Sorcerer's Stone (a.k.a. ...,Adventure|Children|Fantasy,106,5.0
1,515,"Remains of the Day, The (1993)",Drama|Romance,474,5.0
2,3814,Love and Death (1975),Comedy,409,5.0
3,215,Before Sunrise (1995),Drama|Romance,4,5.0
7,131610,Willy/Milly (1986),Comedy|Fantasy,89,5.0
8,37384,Waiting... (2005),Comedy,111,5.0
9,3022,"General, The (1926)",Comedy|War,469,5.0
13,3388,Harry and the Hendersons (1987),Children|Comedy,51,5.0
23,60126,Get Smart (2008),Action|Comedy,98,5.0
24,53123,Once (2006),Drama|Musical|Romance,483,5.0
26,2539,Analyze This (1999),Comedy,453,5.0
27,4813,When Worlds Collide (1951),Sci-Fi,186,5.0
28,4728,Rat Race (2001),Comedy,275,5.0
29,3213,Batman: Mask of the Phantasm (1993),Animation|Children,573,5.0
31,1131,Jean de Florette (1986),Drama|Mystery,84,5.0
34,1753,Half Baked (1998),Comedy,573,5.0
35,745,Wallace & Gromit: A Close Shave (1995),Animation|Children|Comedy,376,5.0
36,6016,City of God (Cidade de Deus) (2002),Action|Adventure|Crime|Drama|Thriller,326,5.0
37,3555,U-571 (2000),Action|Thriller|War,115,5.0
38,714,Dead Man (1995),Drama|Mystery|Western,246,5.0

#### Evaluation

In [6]:
# hit rate for item-based approach based on genres
hit_rate_movie = item_evaluation(5, recc1)
print('The Hit Rate for Item-based Collaborative Filtering is:', hit_rate_movie)

The Hit Rate for Item-based Collaborative Filtering is: 0.23809523809523808

### User-User Collaborative Filtering

In [7]:
# create the user rating matrix
user_item_pivot = create_pivot_table(data, 'userId', 'rating', 'movieId')
user_item_pivot

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
0,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,2.5,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
606,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,2.5,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

**Using Cosine Similarity**

In [8]:
# create the user similarity matrix
user_user_similarity = calculate_similarity(user_item_pivot, 'cosine')
user_user_similarity

,0,1,2,3,4,5,6,7,8,9,...,600,601,602,603,604,605,606,607,608,609
0,0.000000,0.027283,0.059720,0.194395,0.129080,0.128152,0.158744,0.136968,0.064263,0.016875,...,0.080554,0.164455,0.221486,0.070669,0.153625,0.164191,0.269389,0.291097,0.093572,0.145321
1,0.027283,0.000000,0.000000,0.003726,0.016614,0.025333,0.027585,0.027257,0.000000,0.067445,...,0.202671,0.016866,0.011997,0.000000,0.000000,0.028429,0.012948,0.046211,0.027565,0.102427
2,0.059720,0.000000,0.000000,0.002251,0.005020,0.003936,0.000000,0.004941,0.000000,0.000000,...,0.005048,0.004892,0.024992,0.000000,0.010694,0.012993,0.019247,0.021128,0.000000,0.032119
3,0.194395,0.003726,0.002251,0.000000,0.128659,0.088491,0.115120,0.062969,0.011361,0.031163,...,0.085938,0.128273,0.307973,0.052985,0.084584,0.200395,0.131746,0.149858,0.032198,0.107683
4,0.129080,0.016614,0.005020,0.128659,0.000000,0.300349,0.108342,0.429075,0.000000,0.030611,...,0.068048,0.418747,0.110148,0.258773,0.148758,0.106435,0.152866,0.135535,0.261232,0.060792
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,0.164191,0.028429,0.012993,0.200395,0.106435,0.102123,0.200035,0.099388,0.075898,0.088963,...,0.178084,0.116534,0.300669,0.066032,0.148141,0.000000,0.153063,0.262558,0.069622,0.201104
606,0.269389,0.012948,0.019247,0.131746,0.152866,0.162182,0.186114,0.185142,0.011844,0.010451,...,0.092525,0.199910,0.203540,0.137834,0.118780,0.153063,0.000000,0.283081,0.149190,0.139114
607,0.291097,0.046211,0.021128,0.149858,0.135535,0.178809,0.323541,0.187233,0.100435,0.077424,...,0.158355,0.197514,0.232771,0.155306,0.178142,0.262558,0.283081,0.000000,0.121993,0.322055
608,0.093572,0.027565,0.000000,0.032198,0.261232,0.214234,0.090840,0.423993,0.000000,0.021766,...,0.035653,0.335231,0.061941,0.236601,0.097610,0.069622,0.149190,0.121993,0.000000,0.053225
609,0.145321,0.102427,0.032119,0.107683,0.060792,0.052668,0.193219,0.078153,0.074399,0.121072,...,0.222491,0.087528,0.163094,0.052552,0.119295,0.201104,0.139114,0.322055,0.053225,0.000000

In [9]:
# generate movie recommendations based on userId 50
recc2 = user_user_based_reccommendations(50, user_user_similarity)
recc2

Top 10 Users Similar to User 50 are:
    similar user  similarity score
0           287          0.276549
1           607          0.263945
2           413          0.259135
3            63          0.257597
4           598          0.248365
5           273          0.247814
6           589          0.245804
7           468          0.244777
8            18          0.244546
9           479          0.239906
Top Movies Recommended to User 50 based on Similar Users are:

,movieId,title,genres,userId,rating
0,6711,Lost in Translation (2003),Comedy|Drama|Romance,287,5.0
1,3949,Requiem for a Dream (2000),Drama,287,5.0
2,608,Fargo (1996),Comedy|Crime|Drama|Thriller,287,4.5
3,1921,Pi (1998),Drama|Sci-Fi|Thriller,287,4.5
4,5618,Spirited Away (Sen to Chihiro no kamikakushi) ...,Adventure|Animation|Fantasy,287,4.5
5,1968,"Breakfast Club, The (1985)",Comedy|Drama,287,4.5
6,2959,Fight Club (1999),Action|Crime|Drama|Thriller,287,4.0
7,1136,Monty Python and the Holy Grail (1975),Adventure|Comedy|Fantasy,287,4.0
8,8368,Harry Potter and the Prisoner of Azkaban (2004),Adventure|Fantasy|IMAX,287,4.0
9,1682,"Truman Show, The (1998)",Comedy|Drama|Sci-Fi,287,3.5
10,1732,"Big Lebowski, The (1998)",Comedy|Crime,287,3.5
11,1208,Apocalypse Now (1979),Action|Drama|War,287,3.5
12,1206,"Clockwork Orange, A (1971)",Crime|Drama|Sci-Fi|Thriller,287,2.5
13,4306,Shrek (2001),Adventure|Animation|Children|Comedy|Fantasy|Ro...,287,1.5
14,5816,Harry Potter and the Chamber of Secrets (2002),Adventure|Fantasy,287,1.5
15,3034,Robin Hood (1973),Adventure|Animation|Children|Comedy|Musical,287,1.0
16,1380,Grease (1978),Comedy|Musical|Romance,287,0.5
17,1101,Top Gun (1986),Action|Romance,287,0.5

#### Evaluation

In [10]:
# hit rate for user-based approach based on user's past preferences
hit_rate_user = user_evaluation(50, recc2)
print('The Hit Rate for User-based Collaborative Filtering is:', hit_rate_user)

The Hit Rate for User-based Collaborative Filtering is: 0.0

In [11]:
# movies seen by user 50
data[data['userId']==50].sort_values(by='rating', ascending=False)

,movieId,title,genres,userId,rating
21083,924,2001: A Space Odyssey (1968),Adventure|Drama|Sci-Fi,50,4.5
25518,1204,Lawrence of Arabia (1962),Adventure|Drama|War,50,4.5
25748,1208,Apocalypse Now (1979),Action|Drama|War,50,4.5
27802,1251,8 1/2 (8½) (1963),Drama|Fantasy,50,4.5
74551,7327,Persona (1966),Drama,50,4.0
...,...,...,...,...,...
99072,136305,Sharknado 3: Oh Hell No! (2015),Horror|Sci-Fi,50,1.0
99800,156607,The Huntsman Winter's War (2016),Action|Adventure|Drama|Fantasy,50,1.0
95761,103171,Schlussmacher (2013),Comedy,50,1.0
100548,175485,Death Note (2017),Horror|Thriller,50,0.5
98223,122898,Justice League (2017),Action|Adventure|Sci-Fi,50,0.5

In [12]:
# movies seen by user 287
data[data['userId']==287].sort_values(by='rating', ascending=False)

,movieId,title,genres,userId,rating
69549,5992,"Hours, The (2002)",Drama|Romance,287,5.0
58436,3949,Requiem for a Dream (2000),Drama,287,5.0
77431,8949,Sideways (2004),Comedy|Drama|Romance,287,5.0
70330,6296,"Mighty Wind, A (2003)",Comedy|Musical,287,5.0
64858,4979,"Royal Tenenbaums, The (2001)",Comedy|Drama,287,5.0
...,...,...,...,...,...
37519,1972,"Nightmare on Elm Street 5: The Dream Child, A ...",Horror,287,0.5
68510,5804,"Santa Clause 2, The (2002)",Children|Comedy|Fantasy|Romance,287,0.5
32072,1485,Liar Liar (1997),Comedy,287,0.5
36516,1917,Armageddon (1998),Action|Romance|Sci-Fi|Thriller,287,0.5
42989,2392,Jack Frost (1998),Children|Comedy|Drama,287,0.5